# Created by .ignore support plugin (hsz.mobi)
/based-business/auth-service/auth-service.iml
/based-framework/config-server/config-server.iml
/based-framework/eureka-server/eureka-server.iml
/based-framework/zuul-server/zuul-server.iml
/business-system/user-service/user-service.iml
/based-framework/feign-server/feign-server.iml
/based-framework/zipkin-server/zipkin-server.iml
/based-framework/config-server/target/
/based-framework/zuul-server/target/
/business-system/user-service/target/
/based-framework/eureka-server/target/
/based-business/sms-service/sms-service.iml
/business-system/goods-service/goods-service.iml
/business-system/order-service/order-service.iml
/based-business/auth-service/target/
/business-system/goods-service/target/
/based-framework/config-client/config-client.iml
/hs_err_pid62808.log
/fangyuanyouyue.iml
/based-business/sms-service/target/
/business-system/forum-service/forum-service.iml
/based-business/message-service/message-service.iml
/business-system/video-service/video-service.iml
/target/
/business-system/forum-service/target/
/business-system/order-service/target/
/based-business/message-service/target/
/.project
/.gitignore
/.idea/
.idea/
based-business/message-service/src/main/java/com/fangyuanyouyue/message/dao/
based-business/message-service/src/main/java/com/fangyuanyouyue/message/model/
based-business/message-service/src/main/resources/generatorConfig.xml
based-business/message-service/src/main/resources/mapper/
based-framework/config-client/target/
based-framework/feign-server/target/
based-framework/zipkin-server/target/
business-system/video-service/target/
src/main/resources/
src/test/
!/.idea/
